* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	color: black;
	font-family: 'Century Gothic', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	opacity: 0.9;
	max-width: 1500px;
	min-width: 800px;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}


header {
	height: 620px;
	background-position: center;
	background-image: url(images/layer-9.jpg);
	background-size: cover;
}



div.header {
	display: block;
	margin: 0 0 0 119px;
	width: 266px;
	height: 128px;
	background-image: url(images/shape-5.png);
	background-position: center;
	background-size: cover;

}

div.arrows {
	margin-top: 62px;
	display: flex;
	justify-content: space-between;
}

div.arrows a:nth-child(2) img{
	transform: rotate(180deg);
}

h1 {
	display: block;
	margin: 0 39px 0 39px;
	padding: 10px 0 0 0;
	width: 188px;
	height: 70px;
	color: white;
	font-size: 28px;
	line-height: 28px;
	text-align: center;
	font-weight: 400;
}

h1 a{
	color: white;
}

nav ul{
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	padding: 21px 5% 16px;
	margin: 5px 0;
	/*font-size: 36px;*/
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	min-width: 100%;
	overflow: auto;
}


nav ul li {
	display: inline-block;
		margin: 0 1.33%;
		width: auto;
}
nav ul a {
	display: inline-block;
	text-decoration: none;
	color: black;
	font-size: 26px;
	text-transform: uppercase;
	text-align: center;

}


.main {
	display: flex;
	justify-content: space-around;
	background-color: #eee;
	background: linear-gradient(to top,#eee 98%, #868687);
	max-width: 100%;
}

menu {
	padding: 0;
	width: 310px;
	min-width: 310px;
	background-color: #d7d7d7;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	min-width: 20%;
}

menu h3 {
	width: auto;
	padding: 20px;
	height: 42px;
	background-color: #6b6b6b;
	color: white;
	line-height: 2px;
	text-align: center;
	margin: 0;
	z-index: 10;
	font-weight: 400;
}


menu ul {
	border: 1px solid white;
	padding: 0;
	list-style-type: none;
	margin: 0;
	padding: 20% 15%;
	margin: -18px 18px 18px 18px;
	line-height: 43px;
	font-size: 16px;
	text-align: center;
	height: 100%;
	width: 85%;
	overflow: auto;
}

menu.profile  ul {
	text-transform: none;
}



menu ul li a {
	color: black;
}


section {
	margin: 18px 15px 0;
	}


/*	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}*/


section div.events {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


section div.events a{
	color: black;
}

section p {
	text-transform: none;
	text-align: center;
	font: 17px/28px Georgia, serif;
	color: black;
	margin-top: 55px;
}

section p a {
	color: black;
	text-transform: uppercase;
}


section div.date {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #cecece;
}

section div.date span{
	display: block;
	font-size: 35px;
}

section div.date h4 {
	margin: 74px 0 35px;
	text-align: center;
	font-size: 29px;
	line-height: 33px;
	font-weight: 400;
}



